.cover {
    height: 40px;

    img {
        height: 36px;
        margin: 4px;
        margin-right: 20px;
        border-radius: 3px;
    }
}
.recipe-cover {

	img {
		height: 69px;
		margin-right: 20px;
		border-radius: 3px;
	}
}

