
:host {
	// Title
	h5 {
		text-align: left;
		margin: 8px 0 12px 0;
	}

	// Container
	.flex-container {
		display: flex;
		flex-direction: column;
	}

	@media (max-width: 768px) {
		.flex-container {
			flex-direction: column;
		}
	}

	// Legend
	.chart-legend {
		overflow: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: left;
		margin-right: 56px;

		@media only screen and (max-width: 768px) {
			margin: 16px 0 0 0;
		}
	}

	::ng-deep.chart-legend ul {
		display: flex;
		list-style: none;
		padding: 0;

		li {
			line-height: 20px;
			margin-right: 12px;
		}

		li span {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-right: 5px;
			border-radius: 50%;
		}
	}

	// Container Chart
	.canvas-container {
		position: relative;
		height: 570px;
		width: 100%;

		@media only screen and (max-width: 768px) {
			height: auto;
			min-height: 200px;
			max-width: 300px;
			margin: 0 auto 16px;
		}
	}

}

