.title {
	font-size: 13px;
	font-weight: 500;
}

.info {
	span {
		display: block;
		font-size: 9px;
		&:first-child {
			font-weight: bold;
		}
		&:nth-child(2) {
			margin-top: 2px;
		}
	}
}

.rounded-left {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.rounded-right {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.logo-area {
	background-color: #AEB1B8;
	border-radius: 3px;
}

.background-like-stripped {
	background-color: #f4f5f8;
}

.img {
  width: 25px;
  position:relative;
}
.img img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
	border-radius: 11px;
	border: 1px solid #F8F8F8;
}

.container-img {
    width: 230px;
    height: calc(230px * 2/3);
    border: 1px solid #F8F8F8;
    border-radius: 11px;
    margin: 0 auto;

    // background-image: url('assets/app/media/img/bg/bg-1.jpg');
    // background-size: cover;

    img {
        display: block;
        width: 45px;
        height: 45px;
        top: calc(50% - 23px);
        margin: 0 auto;
        position: relative;
    }

    i {
        font-size: 50px;
        color: #e6e6e6;
        display: block;
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        top: calc(50% - 25px);
        position: relative;
    }

}
