<cp-dialog-default (close)="cancel()" style="max-height: 91vh;"[ngStyle]="{'margin': screenWidth < 768 && '0' }">
	<!-- Header -->
	<span *ngIf="recipeIngredient" title>{{recipeIngredient.ingredient.name}}
	</span>
	<label *ngIf="!recipeIngredient.ingredient.recipeCopiedId" label [ngStyle]="getColorIngredientCategory(null, recipeIngredient)">
		{{ category ? (category.name | translate) : '?' }}
	</label>
	<div label *ngIf="recipeIngredient.ingredient.recipeCopiedId" class="d-flex justify-content-center mt-2">
		<span class="label-info">
			<a (click)="openRecipeInNewTab()">{{ 'RECIPE.TABS.GENERAL.TITLE' | translate }} </a>
		</span>
	</div>


	<!-- Body -->
	<div body>
		<form *ngIf="formGroup" class="m-form m-form--fit m-form--label-align-right" name="form" [formGroup]="formGroup" novalidate>

			<!-- Quantidade de uso -->
			<div class="d-flex justify-content-center">
				<h5 class="text-center pt-2 mt-3 mb-3">{{ 'INGREDIENT.INGREDIENT_TXT3' | translate}}</h5>
			</div>
			<div class="row m-0">
				<div class="col-6 pr-0">
					<div class="form-group m-form__group">
						<input inputmode="numeric" pattern="[0-9]*" maxlength="10" class="form-control m-input cp-input" (keyup)="updatePurchasePriceBasedOnRecipeIngredient()" name="amount" formControlName="amount" placeholder="0,00">
					</div>
				</div>

				<div class="col-6 pl-0">
					<m-unit-select *ngIf="recipeIngredient && recipeIngredient.ingredient && units"
						[ingredient]="recipeIngredient?.ingredient" [options]="{showLabel: false,canUpdate: !recipeIngredient.ingredient.recipeCopiedId, canCreate: !recipeIngredient.ingredient.recipeCopiedId}"
						[form]="formGroup" [units]="units | unitFilter:recipeIngredient?.ingredient"
					></m-unit-select>
				</div>
			</div>
			<div class="d-flex justify-content-center mt-2">
				<span class="label-info" (click)="openDialogFactor()">{{ getCorrectionFactorAverage }}</span>
			</div>

			<!-- Preço de compra -->
			<div class="d-flex justify-content-center pt-2 mt-5 mb-3">
				<h5 class="text-center">{{ 'INGREDIENT.INGREDIENT_TXT4' | translate}}</h5>
			</div>
			<div class="row m-0" [ngClass]="recipeIngredient.ingredient.recipeCopiedId && 'disable-block'">
				<div class="col-12" formGroupName="purchasePrice">
					<div class="cp-input d-flex flex-row justify-content-between align-items-center p-3 container-item">
						<div class="box"><div class="currency-sign font-weight-normal">{{cifrao}}</div></div>
						<div class="box" style="min-width: 0">
							<input inputmode="numeric" pattern="[0-9]*" style="min-width: 0" class="reset-form" currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'center' }" name="price" formControlName="price" placeholder="{{cifrao + '0,00'}}" type="text">
						</div>
						<div class="box"><span class="label-info" (click)="openDialogUnit()">
							{{formGroup.value.purchasePrice.unityQuantity}} {{ formGroup.value.purchasePrice?.unit?.abbreviation }}
						</span></div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center mt-3">
				<span class="label-info" (click)="openDialogHistory()">{{'INGREDIENT.INGREDIENT_TXT17' | translate}}</span>
			</div>

			<!-- Informação Nutricional -->
			<div class="d-flex justify-content-center pt-2 mt-5">
				<h5 class="text-center">{{ 'INGREDIENT.INGREDIENT_TXT10' | translate}}</h5>
			</div>
			<div class="row m-0 mb-5 custom-mobile-margin">
				<div class="col-12">
					<div id="mat-tab-container">
						<mat-tab-group [selectedIndex]="tabSelectedIndex" disableRipple="true" class="m--margin-top-5" (selectedTabChange)="onSelectedTabChange($event)">
							<mat-tab label="TACO" *ngIf="lang === 'pt'"></mat-tab>
							<mat-tab label="IBGE" *ngIf="lang === 'pt'"></mat-tab>
							<mat-tab label="USDA"></mat-tab>
						</mat-tab-group>
					</div>

					<div class="form-group m-form__group" [formGroup]="formGroup">
						<select class="form-control cp-input" formControlName="nutritionInfo" (change)="onChange()" [compareWith]="compareByID">
							<option [ngValue]="null" translate>{{'INPUTS.OPTION_DEFAULT' | translate}}</option>
							<option *ngFor="let i of nutritioninfos"
								[ngValue]="i">
								{{ lang === 'es' ? (i.esDescription | truncate:50) : lang === 'en' ? (i.enDescription | truncate:50) : (i.description | truncate:50) }} {{i.preparationDescription?" " + (i.preparationDescription | nutritionalInfoUtil):""}}{{i.origin=="USER"?" (personalizado)":"" }}
							</option>
							<option value="-1">{{'INPUTS.NEW_NUTRI_INFO' | translate}}</option>
      						<option value="-2">{{'INPUTS.EDIT_NUTRI_INFO' | translate}}</option>
						</select>
					</div>
					{{ nutritionInfo }}
					<m-cp-nutritional-info-list [nutritionalInfo]="lastNutritionInfo"></m-cp-nutritional-info-list>
				</div>
			</div>

		</form>
	</div>

	<!-- Footer -->
	<div footer>
		<div class="row sticky">
			<div class="col-12 col-sm-12 col-md-12 text-center btn-footer">
				<button type="button" class="btn alterStyle ml-3 btn-delete"
						[swal]="{ type: 'question', title: titleModal, showCancelButton: true, confirmButtonColor: '#f4516c', cancelButtonColor: '#d2d2d2' }"
						(confirm)="removeRecipeIngredient()"
						(cancel)="doDismiss($event)">
					<i id="iconTrash" class="la la-trash"></i>
				</button>

				<button type="button" class="btn btn-secondary m-btn m-btn--air m-btn--custom mr-1" name="btnBack" (click)="cancel()" translate>{{ ( 'INPUTS.BACK' | translate ) }}</button>
				<button type="button" class="btn btn-accent m-btn m-btn--air m-btn--custom btn-new-css-color" (click)="save()" translate>{{ ( 'INPUTS.SAVE' | translate ) }}</button>
			</div>
		</div>
	</div>
</cp-dialog-default>
