<div class="ni-container">

  <h3 class="text-center cp-m-3">{{'RECIPE.TABS.INFORMACOES_NUTRICIONAIS.TITLE' | translate}}</h3>
  <h5 class="text-center pt-2" *ngIf="ingredient">{{ingredient.name}}</h5>
  <hr>  
 
  <m-nutritioninfo-list *ngIf="!item" [items]="items" (onEdit)="onEdit($event)" (onDelete)="onDelete($event)" (onClose)="onClose($event)"></m-nutritioninfo-list>

  <m-nutritioninfo-edit *ngIf="item" [item]="item" (onSave)="onSave($event)" (onCancel)="onCancel($event)"></m-nutritioninfo-edit>
  
</div>
