<h2>Passo a Passo</h2>

<div class="steps">
	<div class="step">
		<span class="step-number">1.</span>
		<p class="step-content">Escaneie o QR Code do plano escolhido utilizando a camera do seu celular. Abra o aplicativo do seu banco e veja a opção de pagar com código.</p>
	</div>

	<div class="step">
		<span class="step-number">2.</span>
		<p class="step-content">Finalize a compra através do aplicativo do seu banco e envie o comprovante para o nosso e-mail: suporte@recipemasterapp.com.br com o assunto ”Comprovante de pagamento”</p>
	</div>

	<div class="step">
		<span class="step-number">3.</span>
		<p class="step-content">Em até 24 horas iremos responder o e-mail liberando o acesso ao plano assinado.</p>
	</div>

	<div class="step">
		<span class="step-number">4.</span>
		<p class="step-content">Em até 24 horas iremos responder o e-mail liberando o acesso ao plano assinado.</p>
	</div>
</div>
