.nameTela {
	margin-top: 1%;
	margin-bottom: 1%;
}

.card {
	margin-top: 2%;
	border-radius: 9px;
	cursor: pointer;
	height: 90%;
}

#dataInfo {
	font-weight: bold;
	font-size: 17px;
}

#valor {
	font-weight: bold;
    font-size: 16px;
    text-align: right;
}

#valorMarcado {
    font-size: 16px;
    text-align: right;
}

#lineCard1 {
	height: 60%;
}