@font-face {
    font-family: "SF Pro Text";
    src: url(assets/fonts/sf-pro-text/sf-pro-text-regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "SF Pro Text";
    src: url(assets/fonts/sf-pro-text/sf-pro-text-semibold.ttf);
    font-style: normal;
    font-weight: 700;
}