.list-item {
	background: #EFEFEF;
	margin: 2px;
	border-radius: 10px;
	font-weight: 300;
}

.list-icon-right {
	position: absolute;
	right: 0;
}

.input-group {
	border: 1px solid #EBEDF2;
	border-radius: 7px;

	&:focus-within {
		border: 1px solid #F24159 !important;
	}

	.form-control:focus {
		border: 0 !important;
	}

	.input-group-prepend, input {
		background-color: inherit;
		border: none;
		border-radius: inherit;
	}

	.input-group-text {
		border: none;
		background-color: inherit;

		i {
			color: #000000;
		}
	}
}

.insert-item {
	background: #d1d1d1;
}
