<form *ngIf="formInfoGeral" class="m-form m-form--label-align-right" name="form" [formGroup]="form" novalidate>
    <div formGroupName="geral">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group m-form__group">
                    <m-photo-upload id="uploadRecipe"
						(photoChange)="photoChange($event)"
						[checkLimit]="true"
						[recipe]="recipe"
						[photoUrl]="photoUrl"
						[icon]="'assets/app/no-recipe.png'"
					></m-photo-upload>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group m-form__group">
                            <label class="col-form-label" translate>{{ 'RECIPE.INPUT.NAME' | translate }}</label>
                            <input class="form-control m-input cp-input" autocomplete="off" name="name" formControlName="name" placeholder="{{'RECIPE.INPUT.NAME' | translate }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-12">
                        <m-r-category-select *ngIf="categories" [form]="form.controls.geral" [categories]="categories"></m-r-category-select>
                    </div>
										<div class="col-12">
											<div class="d-flex align-items-center">
												<label class="col-form-label" translate>{{ 'RECIPE.INPUT.UNITQUANTITY' | translate }}</label>
											</div>
											<div class="input-group custom-gap">
												<input inputmode="numeric" pattern="[0-9]*" class="form-control m-input cp-input" name="unityQuantity" type="number" formControlName="unityQuantity"
																placeholder="1">
												<select [compareWith]="compareSelect" class="form-control cp-input" name="unit" formControlName="unit">
													<option value="null" [disabled]="true" translate>{{'INPUTS.OPTION_DEFAULT'}}</option>
													<option *ngFor="let unit of incomeUnits" [ngValue]="unit">{{ unit.name | translate }}</option>
												</select>
											</div>
                		</div>
                </div>
            </div>
        </div>
        <div class="row">
					<div class="col col-sm-6 d-none d-sm-block ">
						<div class="form-group m-form__group">
								<label class="col-form-label" translate>{{ 'RECIPE.INPUT.PREPARATION_TIME' | translate }}</label>
								<input type="text" class="form-control m-input cp-input" name="preparationTime" formControlName="preparationTime"
										placeholder="{{'RECIPE.INPUT.PREPARATION_TIME' | translate }}">
						</div>
					</div>
					<div class="col col-sm-6">
						<div class="d-flex align-items-center">
							<label class="col-form-label" translate>{{ 'RECIPE.INPUT.RECIPE_WEIGHT' | translate }}</label>
						</div>
						<div class="input-group custom-gap">
							<input inputmode="numeric" pattern="[0-9]*" class="form-control m-input cp-input" name="recipeWeight" type="number" formControlName="recipeWeight"
											placeholder="0,00">
							<select [compareWith]="compareSelect" class="form-control cp-input" name="recipeWeightUnit" formControlName="recipeWeightUnit">
								<option value="null" [disabled]="true" translate>{{'INPUTS.OPTION_DEFAULT'}}</option>
								<option *ngFor="let unit of recipeWeightUnits" [ngValue]="unit">{{ unit.name | translate }}</option>
							</select>
						</div>
					</div>
            <div class="col-sm-12 d-block d-sm-none">
                <div class="form-group m-form__group">
                    <label class="col-form-label" translate>{{ 'RECIPE.INPUT.PREPARATION_TIME' | translate }}</label>
                    <input type="text" class="form-control m-input cp-input" name="preparationTime" formControlName="preparationTime"
                        placeholder="{{'RECIPE.INPUT.PREPARATION_TIME' | translate }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group m-form__group">
                    <label class="col-form-label" translate>{{ 'RECIPE.INPUT.DESCRIPTION' | translate }}</label>
                    <textarea class="form-control cp-input" rows="3" formControlName="description" placeholder="{{'RECIPE.INPUT.DESCRIPTION' | translate }}"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
