<ng-container *ngIf="purchasePrice">
    <form role="form" *ngIf="form && units" [formGroup]="form">
        <div *ngIf="purchasePrice && units" formGroupName="purchasePrice">

            <div class="form-group m-form__group">

                <label class="col-form-label" [ngClass]="form.errors?.uncompatibleUnit?'text-danger':''" translate>{{ 'INGREDIENT.INPUT.UNIT' }} </label>

                <select [attr.disabled]="disabled" (change)="onChange($event)" [ngClass]="form.errors?.uncompatibleUnit?'text-danger':''" [compareWith]="compareSelect" class="form-control cp-input" name="unit" formControlName="unit">
                    <option value="null" [disabled]="true" translate>{{'INPUTS.OPTION_DEFAULT'}}</option>
                    <option *ngFor="let unit of units" [ngValue]="unit">{{ unit.name | translate }} {{unit.userId? '' : ''}}</option>
                    <option *ngIf="canCreate" value="-1">{{'INPUTS.NEW_CUSTOM_UNIT' | translate}}</option>
                    <option *ngIf="canUpdate" value="-2">{{'INPUTS.EDIT_CUSTOM_UNIT' | translate}}</option>
                </select>

            </div>

        </div>
    </form>
</ng-container>

<ng-container *ngIf="form && !purchasePrice">
    <form role="form" *ngIf="form && units" [formGroup]="form">

        <div class="form-group m-form__group">

            <label *ngIf="showLabel" class="col-form-label" [ngClass]="form.errors?.uncompatibleUnit?'text-danger':''" translate>{{ 'INGREDIENT.INPUT.UNIT' }} </label>

            <select [attr.disabled]="disabled" *ngIf="showUnitAbbreviated" (change)="onChange($event)" [ngClass]="form.errors?.uncompatibleUnit?'text-danger':''" [compareWith]="compareSelect" class="form-control cp-input input-new-css" name="unit" [formControlName]="inputName">
                <option value="null" [disabled]="true" translate>{{'INPUTS.OPTION_DEFAULT'}}</option>
								<option *ngFor="let unit of units" [ngValue]="unit">
									{{ unit.abbreviation | translate }} {{unit.userId? '' : ''}}
								</option>
                <option *ngIf="canCreate" value="-1">{{'INPUTS.NEW_CUSTOM_UNIT' | translate}}</option>
                <option *ngIf="canUpdate" value="-2">{{'INPUTS.EDIT_CUSTOM_UNIT' | translate}}</option>
            </select>

            <select [attr.disabled]="disabled" *ngIf="!showUnitAbbreviated" (change)="onChange($event)" [ngClass]="form.errors?.uncompatibleUnit?'text-danger':''" [compareWith]="compareSelect" class="form-control cp-input input-new-css" name="unit" [formControlName]="inputName">
							<option value="null" [disabled]="true" translate>{{'INPUTS.OPTION_DEFAULT'}}</option>
							<option *ngFor="let unit of units" [ngValue]="unit">
								{{ unit.name | translate }} {{unit.userId? '' : ''}}
							</option>
							<option *ngIf="canCreate" value="-1">{{'INPUTS.NEW_CUSTOM_UNIT' | translate}}</option>
							<option *ngIf="canUpdate" value="-2">{{'INPUTS.EDIT_CUSTOM_UNIT' | translate}}</option>
					</select>

        </div>

    </form>
</ng-container>
