<div class="cp-content cp-content-costs">

	<div class="row">
		<div class="m-portlet__body w-full">
			 <div class="cp-content-costs__header">
					<div class="row-title">
						<div style="width: 50px;">&nbsp;</div>
						<h3 class="cp-content-costs__header-title" translate>
							CADASTRO DE CUSTO
						</h3>
						<button (click)="close()">
							<mat-icon>close</mat-icon>
						</button>
					</div>
					<div class="row-tabs">
						<div
							(click)="tabChange(modalCostsTab.EQUIPMENT)"
							class="tab"
							[class.selected]="tabSelected == modalCostsTab.EQUIPMENT"
						>
							EQUIPAMENTO
							<div class="row-selected"></div>
						</div>
						<div
							(click)="tabChange(modalCostsTab.LABOUR)"
							class="tab"
							[class.selected]="tabSelected == modalCostsTab.LABOUR"
						>
							MÃO DE OBRA
							<div class="row-selected"></div>
						</div>
						<div
							(click)="tabChange(modalCostsTab.OTHERS)"
							class="tab"
							[class.selected]="tabSelected == modalCostsTab.OTHERS"
						>
							OUTROS
							<div class="row-selected"></div>
						</div>
					</div>
			 </div>

			 <div [formGroup]="formGroup" class="cp-content-costs__body">
					<div class="row">
						 <div class="col-sm-12 custom-form-group">
							 <label for="name">Nome</label>
							 <input id="name" type="text" formControlName="name">
						 </div>
						 <div class="col-sm-6 custom-form-group">
							<label for="name">
								{{ getQuantityLabel() }}
							</label>
							<input id="name" type="text" formControlName="quantity" placeholder="1">
						</div>
						<div class="col-sm-6 custom-form-group">
							<label for="name">&nbsp;</label>
							<select name="quantityUnit" [ngClass]="formGroup.errors?.uncompatibleUnit?'text-danger':''" [compareWith]="compareSelect" formControlName="quantityUnit">
								<option value="null" [disabled]="true" translate>{{'INPUTS.OPTION_DEFAULT'}}</option>
								<option *ngFor="let unit of quantityUnits" [ngValue]="unit">{{ unit.name | translate }}</option>
							</select>
						</div>
						 <ng-container *ngIf="tabSelected === modalCostsTab.EQUIPMENT">
							<div class="col-sm-6 custom-form-group">
								<label for="name">Potência/Consumo</label>
								<input id="name" type="text" formControlName="consumptionAmount" placeholder="1">
							</div>
							<div class="col-sm-6 custom-form-group">
								<label for="name">&nbsp;</label>
								<select name="consumptionUnit" [ngClass]="formGroup.errors?.uncompatibleUnit?'text-danger':''" [compareWith]="compareSelect" formControlName="consumptionUnit">
									<option value="null" [disabled]="true" translate>{{'INPUTS.OPTION_DEFAULT'}}</option>
									<option *ngFor="let unit of consumptionUnits" [ngValue]="unit">{{ unit.name | translate }}</option>
								</select>
							</div>
						</ng-container>
						 <div class="col-sm-12 custom-form-group">
							<label for="name">Preço</label>
							<div class="input-group">
								<input
									type="text"
									currencyMask [options]="{ prefix: cifrao, thousands: '.', decimal: ',', align: 'left' }"
									name="price"
									formControlName="price"
									inputmode="numeric"
								>
								<div class="input-group-append" (click)="openDialogUnit()">
									<span class="label-info">
										{{ formGroup?.value?.priceUnitQuantity !== 0 ? formGroup?.value?.priceUnitQuantity : '' }}
										{{ tabSelected == modalCostsTab.EQUIPMENT ? formGroup?.value?.priceUnit?.abbreviation : (formGroup?.value?.priceUnit?.name | translate) }}
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-12 d-flex justify-content-center mt-5">
							<button id="saveButton" (click)="save()">Salvar</button>
						</div>
					</div>
			 </div>
		</div>
	</div>
</div>

