<div class="container text-center">
  <div class="row">
      <div class="col-12">

					<div>
						<h2 class="title">New APP Available</h2>
						<p class="subtitle py-3">A new version of the app is now available. <br />
							Please download the latest version from the Play Store.
						</p>
					</div>


          <div class="row">
              <div class="col-12 col-sm-12">
								<button id="bottonButton" class="btn btn-accent m-btn m-btn--air m-btn--custom btn-color btn-add-recipe" mat-button (click)="showNewApp()">
									Upgrade
								</button>
              </div>
          </div>

      </div>
  </div>
</div>
