<div class="container-hidden">
  <kendo-pdf-export #pdf paperSize="A4" portrait="true" keepTogether=".prevent-split" forcePageBreak=".page-break" margin="0pt">
		<div class="used-ingredients-container">
			<h3>
				{{ 'RECIPE.TABS.INGREDIENTS.TITLE' | translate }}
			</h3>

			<div *ngFor="let item of ingredients" class="row-container">
				<span>
					{{ item.name }}
				</span>
				<span style="text-align: center">
					{{ item.recipes }} {{ 'RECIPE.TABS.GENERAL.TITLE' | translate | lowercase }}{{ item.recipes !== 1 ? 's' : '' }}
				</span>
				<span style="text-align: right">
					{{ item.price | currency: cifrao }}
				</span>
			</div>
		</div>
	</kendo-pdf-export>
</div>
