<div class="card p-4">
    <div class="card-body">

        <ul class="row info p-1">

            <dt class="col col-1 info-number text-nowrap">1.</dt>
            <dl class="col col-11">Fazer o pagamento através do QR code
                ou por transferência bancária para a
                conta do Nubank.</dl>

            <dt class="col col-1 info-number text-nowrap">2.</dt>
            <dl class="col col-11">Enviar comprovante de pagamento para o e-mail <a href="mailto:suporte@recipemasterapp.com.br">suporte@recipemasterapp.com.br</a></dl>

            <dt class="col col-1 info-number text-nowrap">3.</dt>
            <dl class="col col-11">Informar o e-mail cadastrado no recipemaster
                para fazer a liberação das funcionalidades.</dl>

            <dt class="col col-1 info-number text-nowrap">4.</dt>
            <dl class="col col-11">Responderemos o e-mail quando o acesso
                for liberado em até 24hrs.</dl>

        </ul>

    </div>
</div>
